RewriteEngine On
RewriteBase /ventodeforro.ru/

ErrorDocument 403 /ventodeforro.ru/forbidden/
ErrorDocument 404 /ventodeforro.ru/notfound/

RewriteRule (images|resources)[\/]{0,}$ - [F]
RewriteRule pages.*?\.html$ - [F]
RewriteRule templates.*?\.php$ - [F]
RewriteRule incs.*?\.php$ - [F]

RewriteRule ^([^/]*)\/$ ?p=$1 [L]