.teacher{
	float:left;
	text-align: center;
	width: 49%;
}

	.teacher img{
		width: 200px;
		height: 200px;
		-moz-border-radius: 100px;
		border-radius: 100px;
		-webkit-box-shadow: 2px 1px 24px rgba(50, 50, 50, 0.52);
		-moz-box-shadow:    2px 1px 24px rgba(50, 50, 50, 0.52);
		box-shadow:         2px 1px 24px rgba(50, 50, 50, 0.52);
	}
	.teacher h2 a{
		color: gray;
		text-decoration: underline;
	}