div#events table{
	width: 100%;
	height: 700px;
}
	div#events table td{
		border: none; /*1px solid #3A92AE;*/
		vertical-align: top;
		text-align: left;
		background-color: #F2FCFF;
		min-width: 200px;
	}
	div#events table td:hover{
		background-color: #EBF2F5;
	}

		div#events table td h3{
			color: #3A92AE;
			margin: 10px;
			text-align: center;
			background-color: #DCF5FC;
		}
div.event-flag{
	float: left;
}
div.event-text{
	float: left;
}