#content {
	margin-left: 0px;
	margin-top: 0px;
}
div.#main-body{
	width: 1000px;
	min-width: 1000px;
}
div.main-pics {
	float: left;
	margin-left: 28px;
	margin-right: 5px;
}
	div.main-pics img{
	    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		-moz-border-radius:4px;

	}

div#main-pic-forro {
	
}

div#main-pic-trips {
	padding-top: 70px;
}

div#main-pic-classes {
	padding-top: 20px;
	
}

div#main-pic-faq {
	
}

.marker.forro{
	margin-left: -26px;
	margin-top: 10px;
}

.marker.trips{
	margin-left: -26px;
	margin-top: 450px;
}

.marker.classes{
	margin-left: -26px;
	margin-top: 10px;
}

.marker.faq{
	margin-left: -26px;
	margin-top: 435px;
}
#header {
	padding-bottom: 40px;
}
