#content {
	
}

div.main-pics {
	float: left;
	margin-left: 28px;
	margin-right: 5px;
}

div#main-pic-forro {
	
}

div#main-pic-trips {
	padding-top: 70px;
}

div#main-pic-classes {
	padding-top: 20px;
	
}

div#main-pic-faq {
	
}

.marker.forro{
	margin-left: -26px;
	margin-top: 10px;
}

.marker.trips{
	margin-left: -26px;
	margin-top: 450px;
}

.marker.classes{
	margin-left: -26px;
	margin-top: 10px;
}

.marker.faq{
	margin-left: -26px;
	margin-top: 435px;
}