* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	font: 14px/20px Arial, Tahoma, Verdana, sans-serif;
	font-family: 'Ubuntu Condensed', sans-serif;
	width: 100%;
	height: 100%;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 150px;
}
	#header #logo {
		border: 0;
		margin-left: 20px;
		margin-top: 10px;
		float: left;
	}
	
	#header #main-menu{
		list-style: none;
		float: right;
		margin-top: 75px;
	}

	#header #main-menu li{
		display: inline;
		font-size: 20px;
		margin: 10px;
	}

	#header #main-menu a, #main-menu a:active, #main-menu a:visited {
		color: #3A92AE;
		text-decoration: none;
		font-weight: bold;
	}

	#header #main-menu a:hover {
		color: #62BFD9;
		border-top: 3px solid #62BFD9;
	}

	#header #main-menu a.active {
		color: #62BFD9;
		border-top: 3px solid #62BFD9;
	}

/* Middle
-----------------------------------------------------------------------------*/
#content {
	padding: 0 0 100px;
}

	#content #body{
		margin-top: -17px;
	}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
	width: 1000px;
	margin: -100px auto 0;
	height: 100px;
	position: relative;
	color: gray;
}

div.br{
	clear: both;
}

#marker{
	display: inline-block;
	position: absolute;
    width: 200px;
    height: 70px;
    text-align: middle;
    margin-bottom: 25px;
    margin-left: 25px;
    background-repeat: no-repeat;
		box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3), 0 0 0px rgba(0, 0, 0, 0.3) inset;
		-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3), 0 0 0px rgba(0, 0, 0, 0.3) inset;
		-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3), 0 0 0px rgba(0, 0, 0, 0.3) inset;
}
#marker:before{
	content:"";
	position: absolute;
	left: 0px;
	top: 70px;
	width: 0;
	height: 0;
	border-top: 0px solid transparent;
	border-bottom: 25px solid transparent;
}
#marker:after {
	content:"";
	position: absolute;
	left: 100%;
	top: 0;
	width: 0;
	height: 0;
	border-top: 35px solid transparent;
	border-bottom: 35px solid transparent;
}

#marker h2{
	margin-top: 22px;
	font-family: 'Ubuntu Condensed', sans-serif;
	color: #fff;
	text-align:center;
	font-size: 24px;
}

#marker.title {
	position: relative;
	left: 0px;
	margin-left: -30px;
}

.green { background: #56AD21; }
.green:before{ border-right: 26px solid #95C677; }
.green:after{ border-left: 26px solid #56AD21; }

.yellow { background: #FFD11A; }
.yellow:before{ border-right: 26px solid #FFE68D; }
.yellow:after{ border-left: 26px solid #FFD11A; }

.blue { background: #4396EA; }
.blue:before{ border-right: 26px solid #9AC5EF; }
.blue:after{ border-left: 26px solid #4396EA; }

.orange { background: #FF401B; }
.orange:before{ border-right: 26px solid #FF9E8D; }
.orange:after{ border-left: 26px solid #FF401B; }

.purple { background: #721e9a; }
.purple:before{ border-right: 26px solid #724f9a; }
.purple:after{ border-left: 26px solid #721e9a; }

.cyan { background: #3A92AE; }
.cyan:before{ border-right: 26px solid #81b3c4; }
.cyan:after{ border-left: 26px solid #3A92AE; }