#gallery ul {
  list-style: none;
  padding: 0;
  margin: 0px; }
  #gallery ul li {
    float: left;
    margin: 0px;
    padding: 0;
    position: relative;
    margin-top: -10px; }
    #gallery ul li:first-child {
      }
    #gallery ul li a {
      display: inline-block;
      margin: 0;
      overflow: hidden;
      position: absolute;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0,2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
  #gallery ul:hover li a img {
    opacity: 0.3; }
#gallery img {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0,2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 0;
  margin:5px; }
  #gallery img:hover {
    z-index: 5; }
#gallery.tile {
  padding: 0; }
  #gallery.tile.medium ul li a, #gallery.tile.medium ul li {
    height: 300px;
    width: 300px; }
    #gallery.tile.medium ul li a.expand, #gallery.tile.medium ul li.expand {
      height: 320px;
      width: 480px; }
      #gallery.tile.medium ul li a.expand img, #gallery.tile.medium ul li.expand img {
        left: 0;
        top: 0; }
  #gallery.tile.medium img {
    height: 320px;
    left: 0px;
    position: relative;
    top: 0px;
    width: auto; }
    #gallery.tile.medium img:hover {
      opacity: 1; }